body {
    background-color: #c0c9ba;
    margin: 0;
}

.atas {
    height: 492px;
    width:1235px;
}

.backdrop {
    filter: blur(1px);
}

.back {
    height: 53px;
    position: relative;
    top: -470px;
    left: 25px;
    color: white;
    font-family: 'Poppins', sans-serif;
}

.back a {
    text-decoration: none;
    color: white;
}

.tajuk {
    background-color: #a4b1a0;
    width: 850px;
    height: 402px;
    margin: auto;
    position: relative;
    top: -460px;
}

.myself {
    width: 206px;
    border-top-left-radius: 120px;
    border-top-right-radius: 120px;
    position: relative;
    top: 40px;
    left: 290px;
}

.myself img {
    border-top-left-radius: 120px;
    border-top-right-radius: 120px;
}

.tajuk-nama {
    width: 400px;
    font-family: 'Major Mono Display', monospace;
    color: white;
    font-size: 30px;
    position: relative;
    top: -290px;
    left: 30px;
}

.tajuk-detail {
    width: 320px;
    color: white;
    position: relative;
    top: -400px;
    left: 510px;
    font-family: 'Poppins', sans-serif;
}

.kandungan-huraian {
    background-color: white;
    width: 850px;
    height: 440px;
    position: relative;
    left: 192.5px;
}

.myself2 {
    border-radius: 50%;
    width: 246px;
    position: relative;
    top: 30px;
    left: 40px;
}

.myself2 img {
    border-radius: 50%;
}

.title-info {
    width: 400px;
    font-family: 'Major Mono Display', monospace;
    color: #9ca89e;
    font-size: 25px;
    position: relative;
    top: -330px;
    left: 320px;
}

.more-info {
    width: 320px;
    color: #9ca89e;
    position: relative;
    top: -320px;
    left: 320px;
    font-family: 'Poppins', sans-serif;
}

.kandungan2 {
    background-image: url('images/backdrop2.jpg');
    background-size: cover;
    width: 850px;
    height: 400px;
    position: relative;
    left: 192.5px;
}

.quote {
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    width: 235px;
    height: 300px;
    position: relative;
    top: 40px;
    left: 50px;
    background-color: #ffffff;
    opacity: 0.7;

}

.mark1 {
    width: 20px;
    position: relative;
    top: -230px;
    left: 90px;
    font-family: 'Major Mono Display', monospace;
    color: white;
    font-size: 30px;
    color: #889480;
}

.mark2 {
    width: 20px;
    position: relative;
    top: -460px;
    left: 210px;
    font-family: 'Major Mono Display', monospace;
    color: white;
    font-size: 30px;
    color: #889480;
}

.hope {
    width: 100px;
    position: relative;
    top: -280px;
    left: 100px;
    text-align: center;
    font-family: 'Mrs Saint Delafield', cursive;
    font-size: 45px;
    color: #494c3a;
}

.breed {
    width: 200px;
    position: relative;
    top: -330px;
    left: 60px;
    text-align: center;
    font-family: 'Mrs Saint Delafield', cursive;
    font-size: 40px;
    color: #494c3a;
}

.misery {
    width: 200px;
    position: relative;
    top: -395px;
    left: 60px;
    text-align: center;
    font-family: 'Mrs Saint Delafield', cursive;
    font-size: 50px;
    color: black;
}

.media {
    width: 180px;
    height: 30px;
    background-color: #889480;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 2px;
    position: relative;
    left: 859px;
}

.youtube {
    padding-top: 6px;
}
