* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

#profilepicture {
    padding: 10px;
    border: 5px solid #fff;
    position: relative;
    top: 180px;
    left: 90px;
    float: left;
    width: 200px;
    height: 230px;
}

#profilepicture h2{
    font-size: medium;
    text-align: center;
    padding: 20px 0px;
}

#profilepicture p{
  font-size: 14px;
  text-align: center;  
  padding-top: 5px;
}

#aboutme {
    text-align: center;
    position: relative;
    top: 200px;
    left: 10px;
    color: white;
}

.my-social-media{
    position: relative;
    top: 30px;
    left: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.my-social-media li {
    list-style: none;
}

.my-social-media li a {
    display: inline-block;
    margin-right: 20px;
    transform: scale(0.85);
    transition: 0.5s;
}

.my-social-media li a:hover {
    filter: saturate(3);
    transform: scale(0.9) translateX(10px) translateY(-10px);
}

.main-content {
    /* position: absolute;
            right: 0; */
    width: 100%;
    min-height: 100vh;
    padding: 0px 100px 100px 100px;
    /* display: flex;
            justify-content: space-between;
            align-items: center; */
    background-color: black;
    color: white;
    z-index: 2;
    /* display: flex;
            align-items: center; */
    justify-content: center;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 10;
}

.main-page {
    position: relative;
    top: 200px;
    z-index: 10;
}

.main-page h2 {
    font-size: 4em;
    font-weight: 800;
    color: #fff;
    line-height: 1em;
    text-align: center;
}


.main-content video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.7;
}

.backdrop {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to right, rgb(69, 69, 69), rgb(211, 213, 151));
    mix-blend-mode: overlay;
}

#nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

#nav li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #d0c746;
}

